body {
    background-color: #004078e1;
    font-family: 'Shadows Into Light';
}
.nav {
    background-color: #9ee7f4;
    border-radius: 0px;
    display: flex;
    position: relative;
    width: 100%;
    overflow: auto;
}
.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0px;
    width: 100%;
}
.nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
    border: 2px solid white;
    background-color: white;
    padding: 0px 10px 0px 10px;
    margin: 2px;
}
.nav a:hover{
    color: #11b1b7;
}
.nav .logo {
    display: flex;
    align-items: center;
}
.nav .logo h1 {
    font-weight: lighter;
}
.nav .logo img {
    width: 80px;
    height: auto;
    border-radius: 50px;
}
@media screen and (max-width: 768px) {
    .nav ul {
        flex-direction: row;
        gap: 10px;
    }
    .nav {
        flex-direction: row;
        align-items: center;
    }
    .nav .logo img {
        width: 80px;
        height: auto;
    }
}